* {
    background-color: #1c1c1c00;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
    width: fit-content;    
    margin: 0;  
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#listElement, #listElement:before  {
    padding-left: 25px;
    height: 50px;
    transition: 0.3s;
}

#listElement:hover {
    padding-left: 50px;
    transition: 0.3s;
}

#header {
    font-size: 200%;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 0;
    color: #ffffff;
}

#github, #curseForge, #instagram, #discord, #youtube, #modrinth, #ko-fi, #amazon-wishlist{
    font-size: 150%;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

svg{   
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff
}

