* {
    background-color: #00000000;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
    margin: 0;  
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#listElement {
    padding-left: 25px;
    height: 50px;
}

p {
    font-size: 300%;
    padding-top: 25px;
    padding-left: 25px;
    margin: 0px;
}

#copyright {
    padding-bottom: 25px;
    padding-left: 25px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

#copyright:hover {
    background: #00000000;
    border-radius: 0px;
}

a, svg{
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff
}

a:hover {
    background: #3f3f3f;
    border-radius: 3px;
}